body {
    margin: 0;
}

/* header ----> navegação*/
nav {
    background: linear-gradient(to right, #5c6bc0, #512da8);
    
    padding: 10px;
    width: 83rem;
}
.active{
    background-color:rgb(116, 120, 210);
    padding: 10px ;
}


nav h2 {
    text-align: center;
    color: white;
}

ul {
    list-style: none;
}

a {
    font-family: monospace;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

a:hover {
    color: blue;
}

.botoes-de-nav {
    display: flex;
    justify-content: space-evenly;
    padding-right: 40px;
    transition: 1s;
    font-weight: bold;
}

/* assunto principal */
.container1 {
    display: flex;
}

.main-content2 {
    display: flex;
    width: 66.3rem;

h2 {
    display: flex;
    font-size: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p {
    font-size: 19px;
    font-style:initial;
    font-family: Arial, Helvetica, sans-serif;
}
b {
    font-size: 19px;
    font-family: monospace;
}
section {
    font-size: 18px;
}
}

blockquote {
    width: 900px;
}

/* para o sidebar*/
.sidebar-container {
    display: flex;
    align-items: center;
    width: 290px;
    height: 90rem;
}

.sidebar {
    background-color: #f4f4f4;
    width: 270px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border-radius: 16px;
    height: 480px;
}

.frase-span {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sidebar a {
    text-decoration: none;
    color: black;
}
.a-do-side {
    padding: 5px;
}

.sidebar a:hover {
    height: 124px;
}

.sidebar img {
    width:100px;
    display: block;
    float: left;
    margin-right: 16px;
    margin-top: 10px;
    border-radius: 10px;
}

.br-sidebar {
    display: flex;
    height: 19px;
    width: 260px;
    border-bottom: 1px solid #bebebe;
    margin: 10px 0;
}

.titulo-side-assunto {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo2-side-assunto {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo3-side-culinaria {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* divisor entre o main e o footer*/
hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
    width: 1350px;
}

/* footer */
footer {
    display: flex;
    width: 1350px;
    height: 340px;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    
h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
}

.outras-info {
    display: block;
    margin-left: 100px;
    padding-top: 50px;

a {
    color: white;
}   
}

.outras-info li {
    padding-top: 20px;
}

footer ul {
    list-style: none;
    display: flex;
}

footer a {
    text-decoration: none;
    color: black;
}

.info {
    display: block;
    margin: 10px;
    width: 450px;
    height: 325px;
}

.sociais-1 {
    display: block;
    width:25rem;
}

.title{
    display: flex;
    justify-content: center;
    width: 400px;
}

.sociais-2 {
    display: flex;
    justify-content: space-around;
    width: 400px;
    
}
/* pesquisar*/
.search-box{
    position:absolute;
    top:10%;
    left:10%;
    transform: translate(-50%, -50%);
    background:white;
    height: 50px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items:center ;




}

.search-text{
    background:none;
    border:0;
    outline:0;
    padding:0;

    font-size: 16pix;
    width:0;
    transition:0.4;
}
.search-btn{
    width:50px;
    height: 50px;
    border-radius: 50%;

    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;


}
.loupe-white{
    display:none;
}
.search-box:hover > .search-text{
    width: 120px;
    padding: 20px;
}
.search-box:hover >.search-btn{
    background-color: blue;
}
.search-box:hover >.search-btn .loupe-blue{
    display: none;
}

.search-box:hover >.search-btn .loupe-white{
   display: block;  
}